current_environment: {{ cli_environment_id }}
environments:
  {{ cli_environment_id }}:
    url: http://{{ dblab_engine_container_host }}:{{ dblab_engine_port }}
    token: {{ dblab_engine_verification_token }}
    insecure: true
    forwarding:
      server_url: ""
      local_port: ""
      identity_file: ""
settings:
  tz: ""