current_environment: {{ cli_environment_id }}
environments:
  dblab:
    url: http://{{ dle_container_host }}:{{ dle_port }}
    token: {{ dle_verification_token }}
    insecure: true
    forwarding:
      server_url: ""
      local_port: ""
      identity_file: ""
settings:
  tz: ""