# netdatachurts.d configuration for Database lab Engine (DLE)
# /etc/netdata/charts.d/DLE.conf

# the data collection frequency
# if unset, will inherit the netdata update frequency
DLE_update_every=60

# the charts priority on the dashboard
DLE_priority=4000

# the number of retries to do in case of failure
# before disabling the module
DLE_retries=3

# Database lab Engine options
DLE_token={{ dblab_engine_verification_token }}
DLE_protocol=http
DLE_ip={{ dblab_engine_container_host }}
DLE_port={{ dblab_engine_port }}
